body{
    padding: 0;
    margin: 20px;
    background-color:grey
}

#container{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#topdiv{
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(45, 43, 43);
}
#inputbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
}
input{
    padding: 5px;
    border-radius: 5px;
    border:none;
    width: 60%;
    margin: 5px;
}

input:focus{
    outline: none;
}

#addbutton{
    color: black;
    background-color: rgb(216, 206, 206);
    padding: 5px;
    border-radius: 5px;
    border:none;
    margin: 5px;
}

#addbutton:hover{
    background-color: rgb(174, 167, 167);
}

#tasksDivId{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(216, 206, 206);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

#tasksDivId p{
    padding: 5px;
    margin: 5px;
}

#tasksDivId button{
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 92, 92);
    color: white;
    padding: 5px;
    margin: 5px;
}

#tasksDivId button:hover{
    background-color: rgb(192, 8, 8);
}