@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
/*--------------------------------------------------------------Navigation Bar----------------------------------*/
.mainnav{
    position: fixed;
    background-color:white;
    display: flex;
    flex-direction: row;
    height:10vh;
    z-index: 5;
}

#main-nav-left{
    width: 20vw;
    height: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
#main-nav-left img{
    height: 40px;
    margin: 5px;
}

#left-icon-input-div{
    width:fit-content;
    height: min-content;
    margin: 10px;
    padding: 3px;
    border-radius: 50px;
   background-color:rgb(222, 230, 233);
}
#left-icon-input-div input{
    padding: 5px;
    border-radius: 50px;
    border: none;
    background-color:rgb(222, 230, 233);
    color: black;
}
#left-icon-input-div input::placeholder{
    color: rgb(94, 94, 94);
}
#left-icon-input-div i{
    color: rgb(94, 94, 94);
}
#main-nav-center{
    width: 60vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
}
#main-nav-center i{
    padding: 0 50px;
    font-size: 1.5rem;
}
#main-nav-right{
    width: 15vw;
    height: fit-content;
    margin-right: 0;
    float: right;
}
#main-nav-right img{
    position:absolute;
    top: 18px;
    right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#main-nav-right div{
    padding: 5px;
    margin: 15px;
    width: fit-content;
}    
#main-nav-right i{
    margin-left: 5px;
    padding: 5px;
    font-size: 1.5rem;
    background-color: rgb(149, 149, 149);
    border-radius: 50%;
   
}


/*--------------------------------------------------------------Cover+DP+ Basic info----------------------------------*/
.BGgradient{
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 26%, rgba(0,0,0,1) 77%);
}
.image-wall{
    background-color: white;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-cover{
    margin: auto;
    height: min-content;
}
.background-cover img{
    height: 40vh;
    width: 70vw;
    border-radius: 10px;
}
.dp-name-button{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10vw;
    margin: auto;
    width: 90%;
    border-bottom: 1px solid rgb(169, 166, 166);
}

.dp-name-button img{
   width: 12rem;
   border-radius:50%;
   border: 5px solid white;
   transform: translateY(-40%);
}

.dp-name-button .name-mutual{
    margin: 20px;
    padding: 10px;
}

.dp-name-button .friendsMessageButton{
    position:absolute;
    right: 0;
    bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.friendsMessageButton .friendsButton, .messageButton{
    display: flex;
    flex-direction: row;
}
.friendsButton, .messageButton, .dropdownButton{
      padding: 5px 10px;
      margin: 5px;
      border-radius: 5px;
}
.friendsButton, .dropdownButton{
    background-color:rgb(169, 166, 166);
}
.friendsButton i, .messageButton i{
    padding-right: 3px;
    font-size: 1.2rem;
}
.messageButton{
    color: white;
    background-color:blue ;
}

.name-mutual h1{
   font-weight:50px;
}
.name-mutual h4 a{
    padding-top: 10px;
    text-decoration: none;
    color: rgb(72, 72, 72);
}

.second-nav{
    position:relative;
   margin: auto;
   display: flex;
   justify-content: center;
   justify-self: center;
   flex-direction: row;
   width: 90%;
   height: 3rem;
}
.second-nav .nav2{
    position:absolute;
    top: 15px;
    left: 0;
}
.second-nav .nav2 a{
   padding: 15px;
   font-weight: 2rem;
}
.second-nav .threeDotDiv{
    position: absolute;
    top: 8px;
    right: 0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color:rgb(149, 149, 149) ;
}
.second-nav .threeDotDiv{
    font-size: 1rem;
}
/*-----------------------------------------Description Wall------------------------------*/

.description-wall{
    background-color:rgb(222, 230, 233);
    display: flex;
   justify-content: center;
   justify-self: center;
   flex-direction: row;
   
}
.left-side{
    width: 20vw;
    height: fit-content;
}
.right-side{
    width: 30vw;
}
.left-side, .right-side{
   margin:2px;
   padding: 5px;
   display: flex;
   flex-direction:column;
   border-radius:10px;
}

.left-side .copyright{
    padding: 5px;
    font-size: small;
}

/*------------------------left side*---------------------------------*/
.intro, .photos, .friends, .life-events{
    background-color: white;
    padding: 5px;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.photos, .friends, .life-events{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.intro-top, .friends-top, .photos-top, .events-top{
    margin-bottom: 5px;
}
.intro-top a, .friends-top a, .photos-top a, .events-top a{
    font-size: smaller;
}
.friends-top, .photos-top, .events-top{
    position: relative;
    display: flex;
    flex-direction: row;
}
.friends-top a , .photos-top a, .events-top a{
    position:absolute;
    right: 5px;
    padding: 5px;
}
.intro .intro-top h2{
    font-weight: bolder;
} 
.intro .intro-top p{
    padding: 5px;
    border-bottom: 1px solid gray;
}
.intro .intro-list{
    margin-top: 5px;
}
.intro-list .icon-intro{
    padding-top: 10px;
    display: flex;
   flex-direction: row;
}
.intro-list .icon-intro i{
    color: gray;
    padding-right: 10px;
}
.intro-list .icon-intro p{
   font-weight: bolder;
}

.friends-table{
    top: 10px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.friends-table table tr td{
    border: 2px solid white;
}
.friends-table table tr td img{
    height:9vh;
    width: 5.5vw;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.friendsCardDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
   justify-self: center;
   padding: 10px 0;
}
.friends_card{
    margin: 5px;
}
.friends_card figure img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.friends_card figcaption{
    margin-left: 0.5vw;
    font-size: small;
}

.life-events .events{
    display: flex;
    flex-direction: row;
    justify-content: center;
   justify-self: center;
}

.events .card{
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 30vh;
    border: 0.5px solid rgb(169, 166, 166);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2px;
    padding: 5px;
}
.card i, .card p, .card h3{
    width: fit-content;
    margin:auto;
}
.card i{
    font-size: 3rem;
}

/*------------------------right side--------------------*/
.timeline{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}
.timeline .top img{
    position:absolute;
    top: 12px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.timeline .top{
  height: fit-content;
  display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    padding: 5px;

}
.timeline .top input{
    justify-content: center;
    justify-self: center;
    margin-left: 2.5vw;
    width: 25vw;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(194, 189, 189);
}
.timeline .bottom{
  display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
  margin-top: 10px;
  padding: 8px 5px;
  border-top: 1px solid grey;
}
.timeline .bottom .bottom-icon{
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
}
.timeline .bottom .bottom-icon p{
    padding-top: 4px;
    padding-left: 5px;
    font-size: small;
}
.timeline .bottom .bottom-icon i{
    font-size: 1.5rem;
}
.bxs-photo-album{
    color: green;
}
.bxs-purchase-tag{
    color: blue;
}
.bx-happy-beaming{
    color: goldenrod;
}

.post-filter{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    position:relative;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height:max-content;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.post-filter div{
    position:absolute;
    display: flex;
    flex-direction: row;
    top: 6px;
    right: 5px;
    background-color: rgb(149, 149, 149);
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}
.post-filter div i{
    font-size: 1.5rem;
    padding-right: 5px;
}
.post-filter h4{
    font-size: large;
    font-weight: bolder;
    padding: 2px;
}

.postcards{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 12px;
    padding: 10px;
    height: fit-content;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.postcard_top{
    position: relative;
    display: flex;
    flex-direction: row;
}

.postcard_top .top-right{
    margin-left: 3.5rem;
}
.postcard_top .top-right p{
    padding-top: 5px;
    font-size:x-small;
    font-weight: bolder;
}
.postcard_top .top-right h5{
    font-weight: bolder;
}
.postcard_top .top-right h5 span{
    color: gray;
}
.postcard_top img{
    position:absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postcard_middle{
  margin-top: 10px;
}
.postcard_middle img{
    margin-top: 10px;
    width: 28vw;
}
.postcard_middle p{
    font-size: small;
    font-weight: bolder;
}

.postcard_bottom{
    font-size: small;
    font-weight: bolder;
    margin-top: 10px;
}

.pc_bottom1{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
}
.likedby{
    display: flex;
    flex-direction: row;
}
.likedby i{
    color: blue;
    margin-right: 5px;
    font-size: medium;
}
.commentedby{
    color: grey;
    position:absolute;
    right: 5px;
}
.commentedby i{
    font-size: medium;
}
.commentedby span{
    color: black;
}
.pc_bottom2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    padding: 10px;
    border-top: 1px solid gray;
    border-bottom:  1px solid gray;
}
.pc_bottom2 .like, .comment, .share{
    display: flex;
    flex-direction: row;
    padding: 0 3rem;
}
.pc_bottom2 .like i, .comment i, .share i{
   
    padding-right: 10px;
}
.pc_bottom2 .like i{
    color: blue;
}
.pc_bottom3{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: fit-content;
}
.pc_bottom3 img{
    position:absolute;
    top: 10px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.input-emoji{
    background-color: rgb(194, 189, 189);
    justify-content: center;
    justify-self: center;
    margin-left: 3vw;
    width: 25vw;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
}
.input-emoji input{
    background-color: rgb(194, 189, 189);
    width: 15rem;
    border: 0;
}
.input-emoji i{
    font-size: 1rem;
}