@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ubuntu:wght@300&display=swap');
*{
    font-family: 'Amatic SC', sans-serif;
font-family: 'Ubuntu', sans-serif;
margin: 0;
    padding: 0;
    box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 0 rem;
}
/*-----------------------------------------------Header------------------------------------------------*/
header{
    position: fixed;
    width: 20%;
    height: 100vh;
    text-align: center;
    z-index: 5;
}

#dp{
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}
#dp img{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction:column
}
#dp p{
    color: white;
    font-weight: bold;
}
nav{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.nav-element{
    background-color: black;
    color: antiquewhite;
    border-radius: 30px;
    padding: 10px;
    
}
/*--------------------------------------------------------------Main Division-------------------------------------*/
#bigdiv{
    float: right;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction:column;
}
/*-------------------------Home section---------------------*/
#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: rgb(229, 229, 229);
}

#home img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.social {
    display: flex;
    flex-direction: column;
  }
.social a {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 22px;
    color:gray;
  }
.aboutme h1{
    padding: 20px;
    font-weight:bolder;
}
.aboutme p{
    padding: 20px;
}
.aboutme button, #about .details button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-weight:bolder;
    color:black;
    background-color:gray;
}   
/*-------------------------About section---------------------*/
#about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: lightblue;
}
#about .details{
    margin: 2rem;
    padding: 20px;
    width: 20vw;
}
#about .details p{
    color: black;
    padding: 10px;
    font-weight: bolder;
}
#about .details button{
    background-color: rgb(8, 30, 33);
}
span{
    font-weight: 900;
    color: rgb(8, 30, 33);
}

.detailBlock{
    margin: 3rem;
    padding: 20px;
    width: 40vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.detailBlock tr td{
    background-color:rgb(8, 30, 33);
    padding: 40px;
    border: 10px solid lightblue;
}
.detailBlock tr td h1{
    color: white;
    padding: 5px;
}
.detailBlock tr td p{
    color: white;
    font-weight: bold;
    padding: 10px;
  }
/*-------------------------Education section---------------------*/
#education{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: bisque;
}

/*-------------------------Skills section---------------------*/
#skills{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: peru;
}

/*-------------------------Hobbies section---------------------*/
#hobbies{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: palevioletred;
}

/*-------------------------Certifications section---------------------*/
#certifications{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: plum;
}

/*-------------------------Contact section---------------------*/
#contact{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: purple;
}